export PATH=`pwd`/bin:"${PATH}"

# change these if you are not running the demo as described in README.md
export GIT_REPO_URI=https://github.com/crdant/cf-mgmt-demo
export SYSTEM_DOMAIN=local.pcfdev.io
export PCF_USER=admin
export PCF_PASSWORD=admin
export CLIENT_SECRET=admin-client-secret
export LDAP_PASSWORD=password
export CONCOURSE_TARGET=lite
