export PATH=`pwd`/bin:"${PATH}"

# change these if you are not running the demo as described in README.md
export GIT_REPO_URI=https://github.com/crdant/cf-mgmt-demo
export SYSTEM_DOMAIN=system
export PCF_USER=admin
export PCF_PASSWORD=admin
export CLIENT_SECRET=
export LDAP_PASSWORD=password
